@(passwordResetForm: Form[si.urbas.pless.users.PasswordResetData])
@import si.urbas.pless.users.pages.routes.PasswordResetController
<div class="password-reset">
    <div>
        Resetting the password for '@passwordResetForm.get.getEmail':
    </div>

  @helper.form(action = PasswordResetController.submitResetPassword()) {
    @helper.CSRF.formField
    @helper.inputPassword(passwordResetForm("password"))
    @helper.inputPassword(passwordResetForm("passwordConfirmation"))
    <input type="hidden" value="@passwordResetForm.get.getEmail" name="@passwordResetForm("email").name" />
    <input type="hidden" value="@passwordResetForm.get.getResetPasswordToken" name="@passwordResetForm("resetPasswordToken").name" />
    <input type="submit" value="Submit"/>
  }
</div>
