@(passwordResetForm: Form[si.urbas.pless.users.PasswordResetData])
@import si.urbas.pless.users.routes.UserController
@si.urbas.pless.views.html.MasterContainerView("Password Reset") {
<div class="password-reset">
    <div>
        Resetting the password for '@passwordResetForm("email")':
    </div>

  @helper.form(action = UserController.submitResetPassword()) {
    @helper.inputPassword(passwordResetForm("password"))
    @helper.inputPassword(passwordResetForm("passwordConfirmation"))
    @helper.inputText(passwordResetForm("email"))
    @helper.inputText(passwordResetForm("resetPasswordToken"))
    <input type="submit" value="Submit"/>
  }

</div>
}
