@(passwordResetForm: Form[si.urbas.pless.users.PasswordResetData])
@import si.urbas.pless.users.routes.UserController
@si.urbas.pless.views.html.MasterContainerView("Password Reset") {
<div class="password-reset">
    <div>
        Resetting the password for '@passwordResetForm.get.getEmail':
    </div>

  @helper.form(action = UserController.submitResetPassword()) {
    @helper.inputPassword(passwordResetForm("password"))
    @helper.inputPassword(passwordResetForm("passwordConfirmation"))
    <input type="hidden" value="@passwordResetForm.get.getEmail" name="@passwordResetForm("email").name" />
    <input type="hidden" value="@passwordResetForm.get.getResetPasswordToken" name="@passwordResetForm("resetPasswordToken").name" />
    <input type="submit" value="Submit"/>
  }

</div>
}
