@(signUpForm: Form[_])
@import si.urbas.pless
@import pless.users.SignupData
@import pless.users.SignupService
@import pless.users.routes._
<div class="sign-up-form">
  @helper.form(action = SignupController.submitSignUp()) {
    @helper.CSRF.formField
    @helper.inputText(signUpForm(SignupData.EMAIL_FIELD))
    @helper.inputText(signUpForm(SignupData.USERNAME_FIELD))
    @helper.inputPassword(signUpForm(SignupData.PASSWORD_FIELD))
    @helper.inputPassword(signUpForm(SignupData.PASSWORD_CONFIRMATION_FIELD))
    <input type="submit" value="Submit"/>
  }
</div>