@import si.urbas.pless
@import pless.authentication.AuthenticationService.{getAuthenticationService => auth}
@import pless.users.routes.UserController
@import pless.authentication.routes.PasswordAuthenticationController
@import pless.pages.SignupPages.{getSignupPages => pages}
@import pless.pages.SignupPages
@import pless.pages.routes._

@MasterContainerView("Pless - Welcome") {
  @if(flash.get(SignupPages.FLASH_SUCCESSFUL_SIGN_UP) != null) {
  <div class="pless-flash-success">
    @{flash.get(SignupPages.FLASH_SUCCESSFUL_SIGN_UP)}
  </div>
  }
<div>
  Current user: @{if (auth.isLoggedIn) auth.getLoggedInUserEmail else "Not logged in"}
</div>
<div>
  <a href="@{SignupController.signUp()}">Signup</a>
</div>
<div>
  <a href="@{PasswordAuthenticationController.logIn()}">Login</a>
</div>
<div>
  <a href="@{UserController.requestPasswordReset(auth.getLoggedInUserEmail)}">Reset password</a>
</div>
<div>
  <a href="@{UserController.updateUserAccount()}">Update user account</a>
</div>
}