@import si.urbas.pless
@import pless.pages.FlashMessages.flashMessages
@import pless.authentication.AuthenticationService.{getAuthenticationService => auth}
@import pless.authentication.routes.PasswordAuthenticationController
@import pless.users.routes.UserController
@import pless.users.pages.SignupPages.{getSignupPages => pages}
@import pless.users.pages.SignupPages
@import pless.users.pages.routes._

@MasterContainerView("Pless - Welcome") {
  @flashMessages.flashPanel("pless-flash-panel", "pless-flash-panel")
<div>
  Current user: @{if (auth.isLoggedIn) auth.getLoggedInUserEmail else "Not logged in"}
</div>
<div>
  <a href="@{SignupController.signUp()}">Signup</a>
</div>
<div>
  <a href="@{PasswordAuthenticationController.logIn()}">Login</a>
</div>
<div>
  <a href="@{UserController.requestPasswordReset(auth.getLoggedInUserEmail)}">Reset password</a>
</div>
<div>
  <a href="@{UserController.updateUserAccount()}">Update user account</a>
</div>
}