@import si.urbas.pless
@import pless.pages.FlashMessages.flashMessages
@import pless.authentication.AuthenticationService.authenticationService
@import pless.authentication.routes._
@import pless.users.routes._
@import pless.users.pages.routes._
@import pless.authentication.pages.routes._

@flashMessages.flashPanel("pless-flash-panel", "pless-flash-panel")

<div>
  Current user: @{if (authenticationService.isLoggedIn) authenticationService.getLoggedInUserEmail else "Not logged in"}
</div>
<div>
  <a href="@{SignupController.signUp()}">Signup</a>
</div>
<div>
  <a href="@{LoginController.logIn()}">Login</a>
</div>
<div>
  <a href="@{LoginController.logOut()}">Logout</a>
</div>
<div>
  <a href="@{PasswordResetController.resetPasswordRequest()}">Reset password</a>
</div>
<div>
  <a href="@{UserController.updateUserAccount()}">Update user account</a>
</div>